<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>고수찾기</title>
  <link rel="icon" type="images/png" href="/images/logo.png" />
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/profile.css" />
</head>
<body>
  <%- include('partials/navbar'); -%>
  <section>
    <h1>고수 프로필</h1>
    <div class="container">
      <div class="profileHeader">
        <div class="picture"><img src=<%= data.image %> alt=""></div>
        <div class="profileText">
          <p class="name"><%= data.name %></p>
          <p class="subject"><%= data.subject %></p><br>
          <p class="rating"><%= data.rating %> / 5.0</p>
        </div>
      </div>
      <p class=smalltitle>한줄 소개</p>
      <p class="commnet"><%= data.introduction %></p>
      <div class="gosuInfo">
        <div class="basicInfo">
          <p class=smalltitle>기본 정보</p>
          <p class="content">
            <%= data.auth_personal > 0 ? "본인 인증" : "본인 미인증" %>
          </p>
          <p class="content"><%= data.hiredNumber %>회 고용됨</p>
          <p class="content"><%= data.address %></p>
          <p class="content">연락가능시간 : <%= data.contactTime %></p>
          <p class="content"><%= data.payment %></p>
        </div>
        <div class="addedInfo">
          <p class=smalltitle>추가 정보</p>
          <p class="content">경력 <%= data.careerYear %> 년</p>
          <p class="content">직원수 <%= data.employees %> 명</p>
          <p class="content">채택수 : <%= data.hiredNumber %></p>
          <p class="content"><%= data.auth_business > 0 ? "사업자등록증 등록완료" : "사업자등록증 미등록" %></p>
          <p class="content"><%= data.license > 0 ? "자격증 등록완료" : "자격증 미등록" %></p>
        </div>
      </div>
      
    </div>
  </section>
</body>
</html>