<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/navbar_login.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/request-style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <script src="https://kit.fontawesome.com/fbaf558954.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('partials/navbar_login'); -%>
  <section class="section-1">
    <div class="request-list">
      <h1>보낸 요청</h1>
      <div class="request-wrapper">
        <div class="request-container">
          <% for(let request of data) { %>
          <div class="request-box">
            <div class="request-box-title">
              <h3><%= request.title %></h3>
              <p class="date">
                <h2><%= request.requestDate.toISOString().split('T')[0] %></h2>
            </div>
            <div class="request-box-contents">
              <h5>
              <%= request.isExpired ? "마감" : "진행중" %>
              </h5>
              <p>
                <%= request.isExpired ? `이 요청서는 ${request.expiredDate.toISOString().split('T')[0]}에 종료되었습니다.` : `이 요청서는 ${request.expiredDate.toISOString().split('T')[0]} 에 종료됩니다.` %>
              </p>
            </div>
            <button type="button" class="btn btn-primary" onclick="location.href='../estimates';">
              <%= request.numberEstimate %> 개의 견적서 보기 
            </button>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </section>
  <section class="section-2">
    <div class="recommendation-service">
      <h1>추천서비스</h1>
      <div class="recommendation-wrapper">
        <div class="recommendation-container">
          <div class="recommendation-box">
            <img src="http://localhost:3000/images/dance-sports.jpg" class="card-img">
            <button type="button" class="btn btn-tertiary">
                댄스스포츠
            </button>
          </div>
          <div class="recommendation-box">
            <img src="http://localhost:3000/images/gayagum.jpg" class="card-img">
            <button type="button" class="btn btn-tertiary">
                가야금
            </button>
          </div>
          <div class="recommendation-box">
            <img src="http://localhost:3000/images/vocal.png" class="card-img">
            <button type="button" class="btn btn-tertiary">
                보컬
            </button>
          </div>
          <div class="recommendation-box">
            <img src="http://localhost:3000/images/violin.png" class="card-img">
            <button type="button" class="btn btn-tertiary">
                바이올린
            </button>
          </div>
          <div class="recommendation-box">
            <img src="http://localhost:3000/images/ukulele.png" class="card-img">
            <button type="button" class="btn btn-tertiary">
                우쿨렐레
            </button>
          </div>
          <div class="recommendation-box">
            <img src="http://localhost:3000/images/piano.jpg" class="card-img">
            <button type="button" class="btn btn-tertiary">
                피아노/키보드
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
<script>history.scrollRestoration = "manual"</script>
</body>
</html>