<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>고수찾기</title>
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/searchPro.css" />
  <link rel="icon" type="images/png" href="/images/logo.png" />
</head>
<body>
  <%- include('partials/navbar'); -%>
  <h1>고수찾기</h1>
  <div class="container">
    <div class="button">
      <a href="#">건대 영어 회화</a>
      <a href="#">강동 헬스 PT</a>
      <a href="#">거제 이사 청소</a>
    </div>
    <div><%= data.length %> 명의 고수</div><br>
    <% for(let gosu of data) { %>
      <div class="gosulist">
        <a href="/profile/gosu/<%= gosu.id %>">
          <div class="picture"><img src=<%= gosu.image %> alt=""></div>
          <div class="profile">
            <div class="name"><%= gosu.name %></div>
            <div class="subject"><%= gosu.subject %></div>
            <div class="rating"><%= gosu.rating %> / 5.0</div>
            <div class="commnet"><%= gosu.introduction %></div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</body>
</html>