<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>고수찾기</title>
  <script src="https://kit.fontawesome.com/fc26219ee3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/searchPro.css" />
  <link rel="icon" type="images/png" href="/images/logo.png" />
</head>
<body>
  <%- include('partials/navbar'); -%>
  <h1><a href="/search/pro">고수찾기</a></h1>
  <div class="container">
    <div class="linkbox">
      <a href="/">숨고</a>
      <a href="/search/pro">>지역,카테고리</a>
    </div>
    <form>
      <i class="fas fa-search"></i>
      <input type="search" placeholder="고수, 지역, 서비스를 검색해보세요" name="search" id="searchPro">
    </form>
    <div class="button">
      <a href="/search/pro?search=부천+회계">부천 회계</a>
      <a href="/search/pro?search=시흥+세무">시흥 세무</a>
      <a href="/search/pro?search=서울+Java">서울 Java</a>
    </div>
    <div><%= data.length %> 명의 고수</div><br>
    <% for(let gosu of data) { %>
      <div class="gosulist">
        <a href="/profile/gosu/<%= gosu.id %>">
          <div class="picture"><img src=<%= gosu.image %> alt=""></div>
          <div class="profile">
            <div class="name"><%= gosu.name %></div>
            <div class="subject"><%= gosu.subject %></div>
            <div class="rating"><%= gosu.rating %> / 5.0</div>
            <div class="commnet"><%= gosu.introduction %></div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</body>
</html>